@charset "UTF-8";
/*Todos los titulos posiblemente en la misma gama de colores*/
/*parrafos y listados en la misma gama de colores*/
/*Imagenes de productos todas del mismo tamaño a excepcion de la index*/
/*Imagenes de las personas(cocineros) del mismo tamaño*/
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
/*reset*/
* {
  margin: 0%;
  padding: 0%; }

/*Reset*/
h1 {
  color: #d7cf07ff; }

h2 {
  color: #d7cf07ff; }

a {
  color: #0a0908ff;
  text-decoration: none; }

/*Se quita puntos a la lista y se da format en linea (Desafio complemetario)*/
li {
  list-style: none; }

/*Se crean clases para las fotos ya que no se puede generalizar con etquieta img*/
.imgProd {
  width: 650px;
  margin: auto;
  display: block; }

ul {
  margin: 0%;
  padding: 0%; }

.imgPersona {
  height: 50%;
  width: 100%; }

/*Primer clumna*/
.firsCol {
  display: grid;
  height: 100vh;
  background-color: #0b2545ff;
  grid-template-columns: 100%;
  grid-template-rows: 30% 40% 30%; }

.divLogo, .divLogo__img {
  display: flex;
  justify-content: center; }
  .divLogo__img {
    max-width: 100%;
    max-height: 100%; }

.btnBurger {
  display: none;
  border: none;
  background-color: transparent;
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px; }

.btnClose {
  display: none;
  border: none;
  background-color: transparent;
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 0px; }

#imgBtn {
  height: 30px; }

.navGula {
  display: grid;
  height: 100%;
  color: white;
  justify-items: center;
  margin-top: 30px; }
  .navGula__ul {
    display: grid;
    padding: 0%; }
  .navGula__a {
    color: white;
    font-size: 20px;
    transition: font-size 0.5s;
    font-family: 'Caveat', cursive;
    font-style: normal;
    font-weight: 200px;
    text-decoration: none; }
  .navGula__icons {
    width: 15px; }

#carousel {
  padding: 0px; }

.divFooter {
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
  justify-items: center;
  justify-content: center;
  width: 100%; }
  .divFooter i {
    color: white;
    margin-right: 10px; }
  .divFooter p {
    color: white;
    font-size: 10px;
    font-family: 'Roboto', sans-serif; }

.navGula ul li a:hover {
  color: white;
  font-size: 30px;
  transition: font-size 0.5s; }

/*Fin primer Columna*/
/*Segunda fila (Banner)*/
.secondCol {
  height: 100vh; }
  .secondCol__img {
    height: 100vh;
    width: 100%; }

/*Fin Segunda Fila (Banner)*/
/*Comienzo tercer Fila*/
.thirdCol {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  height: 100vh;
  overflow: hidden; }
  .thirdCol #lista {
    text-decoration: none; }
  .thirdCol__productos, .thirdCol__productos--img2, .thirdCol__productos--img3, .thirdCol__productos--img4, .thirdCol__productos--img5 {
    background-size: cover;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.8);
    filter: brightness(0.4);
    height: auto; }
  .thirdCol__productos--img2 {
    background-image: url(../Imagenes/Products.jpg); }
  .thirdCol__productos--img3 {
    background-image: url(../Imagenes/Historia.png); }
  .thirdCol__productos--img4 {
    background-image: url(../Imagenes/Galery.jpg); }
  .thirdCol__productos--img5 {
    background-image: url(../Imagenes/Contact.jpg); }
  .thirdCol__productos:hover, .thirdCol__productos--img2:hover, .thirdCol__productos--img3:hover, .thirdCol__productos--img4:hover, .thirdCol__productos--img5:hover {
    animation: 1s;
    filter: brightness(1); }
  .thirdCol__parrafo {
    margin-top: 100px;
    font-family: 'Caveat', cursive;
    color: white;
    font-size: 50px; }

/*Fin tercer Fila*/
/*Seccion Productos*/
.secProductos {
  display: grid;
  grid-template-columns: 17% auto; }

.productos {
  display: grid;
  grid-template-columns: auto auto auto; }
  .productos__img1 {
    background-image: url(../Imagenes/abcd.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }

.imgPro {
  filter: brightness(0.4); }

.imgPro:hover {
  filter: brightness(1); }

/*Fin Sección Productos*/
/*Sección Galeria*/
.sectFotos {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50vh 50vh; }
  .sectFotos__carusel {
    height: 30vh; }
  .sectFotos__img {
    display: grid;
    justify-content: space-evenly;
    align-content: space-evenly;
    grid-template-columns: 45% 45%;
    grid-template-rows: 45% 45%; }
  .sectFotos--foto {
    height: 100%;
    width: 100%; }

#carusel {
  display: none; }

/*Sección Galeria*/
/*Sección Contacto*/
.contactSect {
  display: grid;
  grid-template-columns: 17% 83%;
  height: 100vh;
  width: 100%;
  background-image: url(../Imagenes/FondoContact.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

/*Formualrio*/
.sectForm {
  display: grid;
  align-items: center;
  justify-items: center; }

.formTest {
  display: grid;
  align-items: center;
  justify-items: center;
  height: 90%;
  width: 90%;
  grid-template-rows: 10% auto; }

.titleContact, .contactForm__input::placeholder {
  color: #fff;
  /*Efecto Neon*/
  text-shadow: 0 0 5px #00b2ff, 0 0 10px #00b2ff, 0 0 20px #00b2ff, 0 0 40px #26687f, 0 0 80px #26687f, 0 0 90px #26687f, 0 0 100px #26687f, 0 0 140px #26687f, 0 0 180px #26687f;
  /*Fin Efecto Neon*/ }

.contactForm {
  display: grid;
  align-items: flex-start;
  justify-items: center;
  height: 80%;
  width: 80%; }
  .contactForm #formsizes {
    height: 90%;
    width: 80%; }
  .contactForm__input {
    background-color: transparent;
    border: 2px solid yellow; }
  .contactForm__input:focus {
    background-color: transparent; }
  .contactForm__input::placeholder {
    font-weight: bolder; }
  .contactForm__buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 50px; }
  .contactForm__sendbtn, .contactForm__cancelbtn {
    background-color: transparent;
    border: 2px solid yellow;
    border-radius: 3px;
    width: 30%; }
  .contactForm__sendbtn:hover, .contactForm__cancelbtn:hover {
    background-color: yellow; }

#Apellido {
  border: 2px solid brown; }

#Correo {
  border: 2px solid green; }

#Celular {
  border: 2px solid brown; }

.imgHist {
  height: 100vh;
  width: 100%; }

#Columna1 {
  position: fixed;
  padding: 0px; }

/*Map para bucle Iconos*/
/*Map par bucle Iconos*/
/*Bucle Iconos Footer*/
.iconsfacebook {
  src: "Icons/facebook.png"; }

.iconsinstagram {
  src: "Icons/instagram.png"; }

.iconswhatsapp {
  src: "Icons/whatsapp.png"; }

.bodScroll {
  overflow-y: hidden; }

#altSection {
  height: 100vh; }

.scrollhist {
  display: grid;
  justify-items: center;
  background-color: whitesmoke; }
  .scrollhist__sec {
    display: grid;
    height: 100vh;
    width: 80%; }
  .scrollhist__flecha {
    position: relative;
    bottom: 0px;
    height: 50px;
    margin-left: 250px; }

.products {
  display: grid;
  height: 100vh;
  width: 83%; }
  .products p {
    font-family: 'Roboto', sans-serif; }
  .products__menu1 {
    display: grid;
    align-items: center;
    background-color: whitesmoke;
    grid-template-columns: 40% 60%;
    height: 100%; }
    .products__menu1__img {
      display: grid;
      height: 100%;
      border-bottom: 1px solid grey;
      align-items: center;
      justify-content: center; }
  .products__menu2 {
    display: grid;
    align-items: center;
    background-color: whitesmoke;
    grid-template-columns: 60% 40%;
    height: 100%; }
  .products__test {
    animation-name: rotation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    height: 120px; }
  .products--mr {
    margin-right: 10px; }
  .products--ml {
    margin-left: 10px; }

/*MEDIAS QUERYS*/
@media only screen and (max-width: 768px) {
  .divLogo, .divLogo__img {
    height: 250px; }
  .navGula .ulItems a {
    font-size: 20px; }
  #Columna1 {
    display: none; }
  .showMenu {
    display: none; }
  .contactSect {
    display: grid;
    grid-template-columns: 100%; }
  .formTest {
    display: grid;
    height: 80%;
    width: 100%;
    align-items: center;
    justify-items: center;
    border: 1px solid yellow;
    box-shadow: 20px 20px 20px black;
    grid-template-rows: 10% 80%; }
  #formsizes {
    width: 80%; }
  .formTest h3 {
    color: #fff;
    /*Efecto Neon*/
    text-shadow: 0 0 5px #00b2ff, 0 0 10px #00b2ff, 0 0 20px #00b2ff, 0 0 40px #26687f, 0 0 80px #26687f, 0 0 90px #26687f, 0 0 100px #26687f, 0 0 140px #26687f, 0 0 180px #26687f;
    /*Fin Efecto Neon*/ }
  /*Start Contact Page*/
  .contactForm {
    display: grid;
    border-radius: 3px;
    align-items: center;
    box-sizing: border-box;
    height: 100%;
    width: 80%; }
    .contactForm__titulo {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%; }
    .contactForm__input {
      background-color: transparent;
      border: 2px solid yellow; }
    .contactForm__input::placeholder {
      color: #fff;
      /*Efecto Neon*/
      text-shadow: 0 0 5px #00b2ff, 0 0 10px #00b2ff, 0 0 20px #00b2ff, 0 0 40px #26687f, 0 0 80px #26687f, 0 0 90px #26687f, 0 0 100px #26687f, 0 0 140px #26687f, 0 0 180px #26687f;
      /*Fin Efecto Neon*/ }
    .contactForm__buttons {
      display: flex;
      justify-content: space-around;
      margin-top: 50px; }
    .contactForm__sendbtn, .contactForm__cancelbtn {
      background-color: transparent;
      border: 1px solid yellow;
      width: 45%; }
    .contactForm__cancelbtn {
      background-color: transparent;
      border: 1px solid yellow;
      width: 45%; }
  /*End Contact Page*/
  /*Start gallery Section*/
  .sectFotos {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%; }
    .sectFotos__bgScreen {
      display: block; }
    .sectFotos__carusel {
      height: 50vh; }
    .sectFotos__img {
      display: none; }
  #carusel {
    display: block; }
  .fotoHei {
    height: 50vh; }
  /*End gallery section*/
  .products {
    display: grid;
    height: 100vh;
    width: 100%; }
    .products__menu1 {
      display: grid;
      align-items: center;
      background-color: whitesmoke;
      grid-template-columns: 40% 60%;
      height: 100%; }
    .products__menu2 {
      display: grid;
      align-items: center;
      background-color: whitesmoke;
      grid-template-columns: 60% 40%;
      height: 100%; }
    .products__test {
      animation-name: rotation;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      height: 120px; }
  @keyframes rotation {
    0% {
      transform: rotate(0deg); }
    100% {
      transform: rotate(360deg); } }
  .btnBurger {
    display: block; }
  .btnClose {
    display: block; }
  #imgBtnopen {
    height: 60px; }
  #imgBtnclose {
    height: 30px; }
  .bodScroll {
    overflow-y: scroll; }
  .scrollhist {
    display: grid;
    justify-items: center;
    background-color: whitesmoke; }
    .scrollhist__sec {
      display: grid;
      height: 100vh;
      width: 80%;
      margin-top: 50px; }
      .scrollhist__sec--mt {
        margin-top: 30px; }
    .scrollhist__flecha {
      display: none; }
    .scrollhist--a {
      width: 50px; }
  .divFooter {
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 100%; }
    .divFooter i {
      color: white;
      margin-right: 10px; }
    .divFooter p {
      color: white;
      font-size: 10px;
      font-family: 'Roboto', sans-serif; }
  /*End Products Section*/ }

@media only screen and (max-width: 600px) {
  .sectFotos {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100% .sectFotos __carusel;
      grid-template-rows-height: 20vh; }
    .sectFotos__img {
      display: none; } }
